.footer {
  color: #cdcdcd;
  font-family: "Muller", sans-serif;
  font-size: 0.714em;
  padding: 4.000em 0;
  position: relative;
  text-transform: uppercase;
  z-index: 10;
}

.footer__social {
  margin-bottom: 15px;
}

.footer__dev {
  margin-top: 5px;
}

.footer__dev a {
  color: #cdcdcd;
}

.footer__dev:hover {
  color: #cdcdcd;
}

.footer__dev:hover a {
  color: #cdcdcd;
}

.parapix {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 13px;
  margin: 0 10px;
  opacity: .4;
  text-indent: -9999px;
  transition: all 0.3s ease;
  webkit-transition: all 0.3s ease;
  width: 98px;
}

.parapix:hover {
  opacity: .9;
  text-decoration: underline;
}
