.s-plan {
  &__icon {
    margin: 55px auto;
    display: block;
  }

  &__item {
    padding-bottom: 7.143em;
  }

  &__item-2 {
    p {
      text-align: right;
    }
  }

  &__icon-1 {
    width: (844px / 2);
    height: (576px / 2);
  }
  &__icon-2 {
    width: (550px / 2);
    height: (712px / 2);
  }
  &__icon-3 {
    width: (726px / 2);
    height: (472px / 2);
  }
}