.s-rules {
  .rule {
    counter-reset: rule;
    p {
      text-align: center;
    }
  }

  .rule__item {
    counter-increment: rule;
    margin: 4.286em 0 0;
    padding-right: 3.214em;
  }

  .rule__item::before {
    color: #f1d725;
    content: counter(rule)".";
    display: block;
    font-size: 3.429em;
    font-weight: 300;
    text-align: center;
  }
}