.s-result__box {
  background: url(../images/b_result.jpg) top center no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: 7em;
}

.s-result__box-content {
  padding: 11em 5em;

  h4 {
    margin-bottom: 2em;
  }
}