.s-strategy {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  .container {
    background-color: #f1d725;
    padding: 50px 100px;
    text-align: center;

    h5 {
      line-height: 1.5;
    }
  }
}