// _variables.scss

$color-primary: #f1d725;

$color-success: #009835;
$color-error:   #AB0D0D;

$color-back: #f5f5f5;

$color-font:    #333;

$color-footer: lighten(#0e0e0e, 75%);


$xs: 30em;//480px;
$sm: 48em;//768px;
$md: 62em;//992px;
$lg: 83.750em;//1300px;
$xlg: 90em;//1440px;

$font: 'Muller', sans-serif;
